<app-nav-bar></app-nav-bar>


<div class="table-responsive">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" multiTemplateDataRows>

    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> Order No. </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> Price </th>
      <td mat-cell *matCellDef="let element"> {{element.price}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Table </th>
      <td mat-cell *matCellDef="let element"> {{element.table}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef> Served </th>
      <td mat-cell *matCellDef="let element"> {{element.served}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef> Paid </th>
      <td mat-cell *matCellDef="let element"> {{element.paid}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="food">
      <th mat-header-cell *matHeaderCellDef> Food </th>
      <td mat-cell *matCellDef="let element">
        <mat-accordion>
          <mat-expansion-panel hideToggle  >
            <mat-expansion-panel-header>
              <mat-panel-title >
                Click for Food details
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p></p>
            
            
          </mat-expansion-panel>

        </mat-accordion>
      </td>
    </ng-container>

    <ng-container matColumnDef="Edit">
      <th mat-header-cell *matHeaderCellDef>Actions </th>
      <td mat-cell *matCellDef="let element">
        <div class="example-button-row">
          
          <button mat-button (click)="editOrder(element)">Edit</button>
          <button mat-button (click)="SetServed(element)">Served</button>
          <button mat-button (click)="SetPaid(element)">Paid</button>
          <button mat-button (click)="Delete(element)">Delete</button>

        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>