<mat-dialog-content>

    <mat-dialog-actions>
        <button (click)="onEdit()" mat-raised-button class="submit-btn">Select item</button>
        
    </mat-dialog-actions>

    <div [formGroup]="resourceForm" class="content-style">

        

        <mat-form-field appearance="outline">
            <mat-label>Numele Preparatului</mat-label>
            <input matInput formControlName="preparat">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Tip</mat-label>
            <input matInput formControlName="tip">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Timp de preparare</mat-label>
            <input matInput formControlName="timp">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Ingrediente</mat-label>
            <input matInput formControlName="ingrediente">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Pret</mat-label>
            <input matInput formControlName="pret">
        </mat-form-field>
        
        
        
        
        
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button (click)="onSubmit()" mat-raised-button class="submit-btn">Submit</button>
    <button (click)="onClose()" mat-raised-button>Cancel</button>
</mat-dialog-actions>


