<!--
<mat-dialog-content>

    <div [formGroup]="resourceForm" class="content-style">

        <div class="table-responsive">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort multiTemplateDataRows>




                <ng-container matColumnDef="Preparat/Bautura" id="Preparat">
                    <th mat-header-cell *matHeaderCellDef> Preparat </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>

                <ng-container matColumnDef="Pret">
                    <th mat-header-cell *matHeaderCellDef> Pret </th>
                    <td mat-cell *matCellDef="let element" id="Pret"> {{element.price}} </td>
                </ng-container>

                <ng-container matColumnDef="Pret">
                    <th mat-header-cell *matHeaderCellDef> Tip </th>
                    <td mat-cell *matCellDef="let element" id="Pret"> {{element.price}} </td>
                </ng-container>

                <ng-container matColumnDef="timp">
                    <th mat-header-cell *matHeaderCellDef> Timp de preparare </th>
                    <td mat-cell *matCellDef="let element" id="timp">
                        <mat-form-field appearance="outline">
                            <mat-label>Timp de preparare</mat-label>
                            <input matInput formControlName="">
                        </mat-form-field>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns" sticky:true></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>

    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button (click)="onSubmit()" mat-raised-button class="submit-btn">Submit</button>
    <button (click)="onClose()" mat-raised-button>Cancel</button>
</mat-dialog-actions>

-->
