<h1>Hello Table {{x}}</h1>

<!--
<p>Welcome to your new single-page application, built with:</p>
<ul>
  <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
  <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
  <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
</ul>
<p>To help you get started, we've also set up:</p>
<ul>
  <li><strong>Client-side navigation</strong>. For example, click <em>Counter</em> then <em>Back</em> to return here.</li>
  <li><strong>Angular CLI integration</strong>. In development mode, there's no need to run <code>ng serve</code>. It runs in the background automatically, so your client-side resources are dynamically built on demand and the page refreshes when you modify any file.</li>
  <li><strong>Efficient production builds</strong>. In production mode, development-time features are disabled, and your <code>dotnet publish</code> configuration automatically invokes <code>ng build</code> to produce minified, ahead-of-time compiled JavaScript files.</li>
</ul>
<p>The <code>ClientApp</code> subdirectory is a standard Angular CLI application. If you open a command prompt in that directory, you can run any <code>ng</code> command (e.g., <code>ng test</code>), or use <code>npm</code> to install extra packages into it.</p>
-->


<mat-divider></mat-divider>

<div class="table-responsive">
  <table mat-table [dataSource]="dataSource"   class="mat-elevation-z8" matSort multiTemplateDataRows >
      

      

      <ng-container matColumnDef="Preparat/Bautura" id="Preparat">
          <th mat-header-cell *matHeaderCellDef>   Preparat   </th>
          <td mat-cell *matCellDef="let element" > {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="Pret" >
          <th mat-header-cell *matHeaderCellDef>   Pret   </th>
          <td mat-cell *matCellDef="let element" id="Pret"> {{element.price}} </td>
      </ng-container>

      <ng-container matColumnDef="Cantitate"  >
          <th mat-header-cell *matHeaderCellDef>   Cantitate   </th>
          <td mat-cell  *matCellDef="let element" id="Cantitate"   > {{ element.amount }} </td>
      </ng-container>

      
      
      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let element">
              
             
              
              <button mat-icon-button class="btn btn-primary" (click)="decrementCounter(element)"><mat-icon>remove</mat-icon></button>
              <button  mat-icon-button class="btn btn-primary" (click)="incrementCounter(element)"><mat-icon >plus_one</mat-icon></button>
          </td>
          
      </ng-container>

      
      
      <tr mat-header-row *matHeaderRowDef="displayedColumns" sticky:true></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<mat-divider></mat-divider>

<div class="table-responsive">
  <table>
    <th>Total : </th><th> {{total}} </th>
  </table>
</div>

<mat-divider></mat-divider>
<button class="btn btn-primary" (click)="OnSubmit()">Plaseaza comanda</button>

