
  button {
    background-color: #2a8fe2;
    color: aliceblue;
  }
  #Preparat{
    text-align: left;
  }
  #Pret{
    text-align: center;
  }
  #Cantitate{
    text-align: center;
  }
  table {
    width: 100%;
}

.filter-button {
    margin-right: 30px;
    width: 200px;
}

mat-icon {
    margin-right: 10px;
}

.options-btn {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.edit-btn {
    color: #008372;
}

.add-btn {
    background-color: #008372;
}

.delete-btn {
    color: #2F4858;
}

mat-toolbar {
    margin-bottom: 25px;
}
.mat-icon{
    
    font-size: 16px !important;
    text-align: center !important;
    padding-left: 5%;
    color: black;
}
.mat-icon-button{
    height:30px;
    width:30px ;
    background-color: white;
    animation: none;
}
button{
    animation: none;
}
mat-toolbar-row {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}

input {
    background-color: white;
    color: black;
    border-radius: 20px;
    text-align: center;
    height: 35px;
    width: 250px;
    margin: 0;
    padding: 0;
}

.mat-radio-button~.mat-radio-button {
    margin-left: 50px;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: #006672!important;
    /*inner circle color change*/
}

::ng-deep.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #006672!important;
    /*outer ring color change*/
}

.table-responsive {
    overflow: auto;
}