<header >
    <nav  class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        

        <ul class="navbar-nav flex-grow">
          
            <li class="nav-item" [routerLinkActive]="['link-active']">
              <button mat-button>Add Meniu Item</button>
            </li>
            <li class="nav-item" [routerLinkActive]="['link-active']">
                <a class="nav-link text-dark" [routerLink]="['/fetch-data']">Delete Meniu Item</a>
              </li>
              <li class="nav-item" [routerLinkActive]="['link-active']">
                <a class="nav-link text-dark" [routerLink]="['/fetch-data']">Edit Meniu Item</a>
              </li>
              
          </ul>
    </nav>
  </header>
  